@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Open Sans';
  color: #363636;
}

h1 {
  font-size: 22.5px;
}

h2 {
  font-family: 'Montserrat';
  margin-bottom: 20px;
  color: #63C7A9;
}

textarea, input {
  font-family: 'Open Sans';
  outline-color: #63C7A9;
}

header {
  font-family: 'Montserrat';
  background-color: #363636;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

header > .logo {
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: center;
}

header > .logo > * {
  display: inline-block;
	align-self: center;
}

header img {
  max-width: 100px;
}

.start {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

footer {
  background-color: #363636;
  min-height: 30vh;
  width: 100%;
}

.characters {
  display: flex;
  flex-flow: row;
  background-color: #363636;
  width: 90%;
  padding: 10vh 5%;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.controls {
  width: 100%;
}

.control {
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  transition: 0.3s;
}

.control:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
  top: 49%;
}

.control.left {
  left: 20px;
}

.control.left:before {
  content: "<";
}

.control.right {
  right: 20px;
}

.control.right:before {
  content: ">";
}

.characters > .card {
  flex: 1;
  background-color: #FFF;
  border-radius: 27px;
  padding: 0px 25px 25px 25px;
  margin: 30px;
  font-size: 15px;
  max-width: 300px;
  transition: 0.2s;
}

.characters > .card:hover {
  padding: 5px 25px 20px 25px;
  transition: 0.2s;
}

.characters > .card > .char-description {
  margin-top: 15px;
}

.characters > .card > .char-profile {
  border: 3px solid #FFF;
  background-color: #363636;
  border-radius: 27px;
  margin-top: -30px;
}

.characters > .card img {
  width: 100%;
}

.callTop {
  position: fixed;
  background-color: #FFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: 107px;
  right: 107px;
  box-shadow: 0px 0px 5px #666;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callTop:before {
  content: "^";
  flex: 1;
}

.form {
  width: 60%;
  padding: 0% 20%;
  min-height: 50vh;
  background-image: linear-gradient(143deg, #7DEDE2, #58B790);
  position: relative;
}

.form form {
  background-color: #FFF;
  box-shadow: 0px 0px 5px #999;
  text-align: center;
  width: 46%;
  height: 46vh;
  padding: 7vh 7%;
  position: absolute;
  top: -5vh;
  left: 20%;
}

.form form p {
  text-align: left;
  font-size: 12px;
}

.inline-inputs {
  display: flex;
}

.inline-inputs input {
  flex: 1;
  width: calc(50% - 40px);
  margin: 10px 10px 10px 0px;
  padding: 10px;
  border: 1px solid #000;
}

.inline-inputs input:last-child {
  margin: 10px 0px 10px 0px;
}

textarea {
  width: 100%;
  height: 15vh;
  padding: 10px;
  border: 1px solid #000;
}

button {
  background-color: #63C7A9;
  width: 50%;
  padding: 10px 0px;
  color: #FFF;
  margin: 10px 0px;
  float: left;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  filter: brightness(110%);
  transition: 0.3s;
}

.char-highlight { 
  background-image: linear-gradient(180deg, #9C020480, #4D101045);
  width: 30%;
  text-align: center;
  padding-bottom: 5vh;
}

.char-highlight .char-description {
  padding: 0vh 5%;
  color: #FFF;
}

.char-highlight .char-title {
  padding: 10px 0px 5px 5%;
  font-weight: bold;
  text-align: left;
  color: #FFF;
  font-size: 15px;
}

.alert {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  margin: 10px 0px;
  color: #FFF;
}

.alert.success {
  background-color: #58B790;
}

.alert.error {
  background-color: #CC0000;
}

@media all and (max-width: 840px) {
  .form form {
    left: 5%;
    width: 76%;
  }

  .char-highlight {
    width: 50%;
  }

  .callTop {
    bottom: 50px;
    right: 50px;
  }

  .characters > .card {
    padding: 0px 15px 15px 15px;
    border-radius: 15px;
    margin: 30px 10px;
  }
}

@media all and (max-width: 460px) {
  .characters {
    flex-flow: column;
  }

  .characters > .card {
    padding: 0px 25px 25px 25px;
    border-radius: 25px;
    margin: 30px;
  }

  .char-highlight {
    width: 90%;
  }

  .inline-inputs {
    display: block;
  }
  
  .inline-inputs input {
    flex: 1;
    width: calc(100% - 40px);
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid #000;
  }

  textarea {
    width: calc(100% - 40px);
  }

  button {
    width: calc(100% - 20px);
    margin: 10px;
  }

  form p {
    margin-bottom: 20px;
  }
}